/*       Good Colors
Blue - #0CCDE8
light blue - #0CF2D0
darker green - #00DB7C
light green - #0CF24D
green - #0CE80C
*/
/*------------------Box Sizing------------------*/
html
{
	box-sizing : border-box;
}

*,
*:before,
*:after
{
	box-sizing : inherit;
}

/*----------------Utility Classes---------------*/
.container
{
	width  : 70vw;
	margin : 40px auto;
}

img
{
	max-width : 100%;
}

.img-right
{
	float       : right;
	margin-left : 20px;
	border      : 2px solid #c0c0c0;
	padding     : 5px;
}

.img-left
{
	float        : left;
	margin-right : 20px;
	border       : 2px solid #c0c0c0;
	padding      : 5px;
}

.img-center
{
	display : block;
	margin  : 20px auto;
	border  : 2px solid #c0c0c0;
	padding : 5px;
}

/*---------------Responsive Images--------------*/
/*-----------------Global Styles----------------*/
body
{
	background-color : #90ee90;
	font-family      : 'Open Sans', sans-serif;
	margin           : 0;
}

header.primary
{
	background-color : #228b22;
	text-align       : center;
	color            : #0cf2d0;
	/*  Long Form  */
	padding-top      : 40px;
	padding-right    : 40px;
	padding-bottom   : 40px;
	padding-left     : 40px;
	/*	T,R,B,L  */
	padding          : 40px 40px 40px 40px;
	/*  Top/Bottom  Right/Left  */
	padding          : 40px 40px;
	text-shadow      : 2px 2px 5px #777;
}

header.primary h1
{
	font-size : 2.6rem;
	margin    : 20px 0;
}

header.primary h1 a
{
	color           : #fff;
	text-decoration : none;
	/*   takes away the line under the link  */
	text-shadow     : none;
}

header.primary h2
{
	font-size : 1.4rem;
	/*  Top |  Left/Right | Bottom */
	margin    : 20px auto 40px;
}

header.primary nav
{
	width     : 80vw;
	max-width : 900px;
	margin    : 0 auto;
}

header.primary nav ul
{
	padding         : 0;
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
}

header.primary nav ul li
{
	list-style-type : none;
}

header.primary nav ul li a
{
	color            : azure;
	text-decoration  : none;
	text-shadow      : none;
	padding          : 8px 16px;
	background-color : #000000;
	background-color : rgba(0, 0, 0, 0.3);
	display          : inline-block;
	border-radius    : 10px;
	transition       : .5s;
}

header.primary nav ul li a:hover
{
	background-color : rgba(0, 0, 0, 0.5);
}

header.primary nav ul li a:active
{
	background-color : rgba(0, 0, 0, 0.8);
}

#intro
{
	border-bottom  : .3rem solid #000000;
	padding-bottom : 1rem;
}

#intro h2
{
	color         : #228b22;
	border-bottom : 0.1rem dashed #228b22;
}

#content
{
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
	border-bottom   : 1px dotted #c0c0c0;
	padding-bottom  : 2.8rem;
}

#content article.post
{
	width         : 30%;
	box-shadow    : 0 4px 8px rgba(0, 0, 0, 0.4);
	padding       : 10px;
	border-radius : 4px;
	font-size     : .7rem;
	transition    : .5s;
}

#content article.post:hover
{
	box-shadow : 0 8px 16px rgba(0, 0, 0, 0.4);
}

#content article.post time.post-date, #content article.post figcaption, #content article.post .post-meta
{
	text-transform : uppercase;
	color          : #8b0000;
}

#content article.post figure
{
	margin : 0;
}

#content article.post img
{
	border  : 1px solid #8b0000;
	padding : 2px;
	margin  : 5px 0;
}

#content article.post a
{
	color : #0ccde8;
}

#content article.post a:hover, #content article.post a:active
{
	text-decoration : none;
}

#additional-elements h2
{
	color         : #3b638b;
	border-bottom : 1px dotted #c0c0c0;
}

#additional-elements h3
{
	border-left : 8px solid #3b638b;
	padding     : 5px 10px;
}

#additional-elements a
{
	color : #3b638b;
}

#additional-elements a:hover
{
	text-decoration : none;
}

#additional-elements table
{
	width           : 100%;
	border-collapse : collapse;
}

#additional-elements table caption
{
	color       : #3b638b;
	padding     : 10px;
	font-weight : bold;
	font-size   : 1.4rem;
}

#additional-elements table tr:nth-child(even)
{
	background-color : rgba(0, 0, 0, 0.1);
}

#additional-elements table tr:hover
{
	background-color : rgba(0, 0, 0, 0.7);
	color            : #fff;
}

#additional-elements table tr:active
{
	background-color : #8b0000;
	color            : #fff;
}

#additional-elements table tr th
{
	background : #228b22;
	color      : #fff;
	width      : auto;
	padding    : 10px;
}

#additional-elements table tr td
{
	border     : 1px solid #c0c0c0;
	padding    : 5px;
	text-align : right;
}

#additional-elements table tr td:first-child
{
	text-align : left;
}

#additional-elements ol
{
	list-style-type     : upper-roman;
	list-style-position : outside;
}

#additional-elements ul
{
	list-style-type : square;
}

#additional-elements ul ul
{
	list-style-type : disc;
}

#additional-elements dl dt
{
	font-weight : bold;
}

#additional-elements dl dd
{
	margin : 0;
}

#additional-elements dl dd + dt
{
	margin-top : 1rem;
}

aside[role="complementary"]
{
	background-color : darkgreen;
	color            : #0cf2d0;
}

aside[role="complementary"] div.container
{
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
}

aside[role="complementary"] div.container article.widget
{
	width : 45%;
}

aside[role="complementary"] div.container article.widget a
{
	color   : #0ccde8;
	display : block;
}

aside[role="complementary"] div.container article.widget footer
{
	display : none;
}

#colophon h6
{
	padding : 20px;
}

/*--------------Attribute Selectors-------------*/
/*------------------Media Query-----------------*/
@media screen and (max-width : 600px)
{
	header.primary nav ul
	{
		flex-direction : column;
	}
}

/*    how to add link address to media print query  */
